


.cardContainer{
    background: linear-gradient(to bottom, #cac531, #f3f9a7);
    border: solid 1px #544a7d;
    border-radius: 20px;
    width: 95%;
    text-align: center;

}

h1{
    font-size: 1rem;
}