


.cardContainer{
    background: linear-gradient(to top, #000000, #434343); 
    border: solid 1px #434343;
    border-radius: 20px;
    width: 95%;
    text-align: center;
    color: #ba8b02;

}

h1{
    font-size: 1rem;
}